In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

tps = pd.read_csv('../csv/temperatures/temperature_2018.csv', encoding='utf-8', sep=';')
tps.drop(tps.index[(tps["Zone"]!="Lambrate")], axis=0, inplace=True)

tps

#toglie da tutto il csv in corrispondenza di colonna "x" la chiave
#"y"
tps.drop(tps.index[12960:],inplace=True)
tps

#inqui_s.plot.scatter(x='Value', y='Pm10')

#plt.show()

           Zone  Id Sensore          Data-Ora Media
0      Lambrate        2001  01/01/2018 00:00   3,5
6      Lambrate        2001  01/01/2018 01:00   3,3
12     Lambrate        2001  01/01/2018 02:00   2,9
18     Lambrate        2001  01/01/2018 03:00   2,7
24     Lambrate        2001  01/01/2018 04:00   2,6
...         ...         ...               ...   ...
52392  Lambrate        2001  30/12/2018 20:00   3,2
52398  Lambrate        2001  30/12/2018 21:00   2,8
52404  Lambrate        2001  30/12/2018 22:00   2,5
52410  Lambrate        2001  30/12/2018 23:00   2,2
52416  Lambrate        2001  31/12/2018 00:00   1,6

[8737 rows x 4 columns]

In [47]:
inq=pd.read_csv('../csv/pollution_detection/ds459_qaria_datoariagiornostazione_year-2018.csv', encoding='utf-8', sep=';')
#inq

In [51]:
inq.drop(inq.index[1550:],inplace=True)
inq.drop(inq.index[(inq["inquinante"]!="NO2")], axis=0, inplace=True)
inq.dropna(subset=["valore"], axis=0, inplace=True)
inq.drop(inq.index[(inq["stazione_id"]!=2)], axis=0, inplace=True)
#inq

In [50]:
from datetime import datetime

inq['data'] = inq['data'].map(lambda x:datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))
inq

      stazione_id        data inquinante  valore
11              2  03/01/2018        NO2    70.0
36              2  04/01/2018        NO2    72.0
61              2  05/01/2018        NO2    76.0
86              2  08/01/2018        NO2    46.0
111             2  09/01/2018        NO2    38.0
...           ...         ...        ...     ...
1436            2  26/03/2018        NO2   100.0
1461            2  27/03/2018        NO2   108.0
1486            2  28/03/2018        NO2   102.0
1511            2  29/03/2018        NO2    71.0
1536            2  30/03/2018        NO2    72.0

[61 rows x 4 columns]