In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
from scipy import stats

death=pd.read_csv('../csv/morti_premature.csv', encoding='utf-8')
death.drop(death.index[(death["Titolo di studio"]=="totale")], axis=0, inplace=True)
death.drop(death.index[(death["Stato civile"]=="totale")], axis=0, inplace=True)

death.drop("TITOLO_STUDIO",axis=1,inplace=True)
death.drop("STATCIV2",axis=1,inplace=True)
death.drop("Stato civile",axis=1,inplace=True)
death.drop("ISO",axis=1,inplace=True)
death.drop("Paese di cittadinanza",axis=1,inplace=True)
death.drop("PAESI",axis=1,inplace=True)
death.drop("Paese di nascita",axis=1,inplace=True)
death.drop("Seleziona periodo",axis=1,inplace=True)
death.drop("Flag Codes",axis=1,inplace=True)
death.drop("Flags",axis=1,inplace=True)
death.drop("ETA1",axis=1,inplace=True)
death.drop("Tipo dato",axis=1,inplace=True)
death.drop("SEXISTAT1",axis=1,inplace=True)
death=death.groupby(by='Territorio')
death.sum()

                  TIME  Value
Territorio
Agrigento      1647504  26868
Alessandria    2138121  32776
Ancona         1944297  27560
Arezzo         1744416  21000
Ascoli Piceno  1389072  12168
...                ...    ...
Vercelli       1445604  12716
Verona         2626719  47808
Vibo Valentia  1247742   9028
Vicenza        2451066  43624
Viterbo        1760568  20260

[107 rows x 2 columns]

In [ ]:
def provinces():
    inq_prov=pd.read_csv('../csv/Foglio_Chino.csv', encoding='utf-8', sep=',')
    inq_prov=inq_prov.rename(columns={"Unnamed: 0":"Territorio","Unnamed: 1":"VOTO","2018":"Pm10 2018","Unnamed: 3":"Pm2.5 2018",
    "Unnamed: 4":"NO2 2018","2017":"Pm10 2017","Unnamed: 6":"Pm2.5 2017", "Unnamed: 7":"NO2 2017",
    "2016":"Pm10 2016","Unnamed: 9":"Pm2.5 2016", "Unnamed: 10":"NO2 2016",
    "2015":"Pm10 2015","Unnamed: 12":"Pm2.5 2015", "Unnamed: 13":"NO2 2015",
    "2014":"Pm10 2014","Unnamed: 15":"Pm2.5 2014", "Unnamed: 16":"NO2 2014"})
    
    #skipped first row
    inq_prov=inq_prov.iloc[1:]
    
    
    inq_prov.drop(inq_prov.index[(inq_prov["Pm10 2014"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm2.5 2014"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["NO2 2014"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm10 2015"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm2.5 2015"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["NO2 2015"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm10 2016"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm2.5 2016"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["NO2 2016"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm10 2017"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm2.5 2017"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["NO2 2017"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm10 2018"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["Pm2.5 2018"]=="nd")], axis=0, inplace=True)
    inq_prov.drop(inq_prov.index[(inq_prov["NO2 2018"]=="nd")], axis=0, inplace=True)
    return inq_prov

inq_prov=pd.read_csv('../csv/inq_prov.csv')
inq_prov